<div class="container">
    <div class="row">
        <div class="area-top clearfix">
            <div class="pull-left header">
                <h3 class="title">
                    <i class="icon-asterisk"></i>
                    Administration
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="box-content padded">
        <div class="col-md-3">
            <div class="action-nav-normal">
                <div class="row action-nav-row">
                    <div class="col-sm-6 action-nav-button">
                        <a href="#/administration/organization-structure" title="Organization Structure">
                            <i class="icon-sitemap"></i>
                            <span>Organization Structure</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="action-nav-normal">
                <div class="row action-nav-row">
                    <div class="col-sm-6 action-nav-button">
                        <a href="#/administration/general-settings" title="General Settings">
                            <i class="icon-cogs"></i>
                            <span>General Settings</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>