<div class="row">
    <div class="title">User profile</div>

    <div class="row row-item">
        <div class="col-md-1 strong">Name:</div>
        <div class="col-md-4">{{ user.firstName }}</div>
    </div>
    <div class="row row-item">
        <div class="col-md-1 strong">Surname:</div>
        <div class="col-md-4">{{ user.lastName }}</div>
    </div>
    <div class="row row-item">
        <div class="col-md-1 strong">email:</div>
        <div class="col-md-4">{{ user.email }}</div>
    </div>
    <div class="row row-item">
        <div class="col-md-1 strong">Username:</div>
        <div class="col-md-4">{{ user.username }}</div>
    </div>
</div>