<div class="padded">
    <div class="login box" style="margin-top: 80px;">
        <div class="box-header">
            <span class="title">Register</span>
        </div>
        <div class="box-content padded">
            <form name="registerForm" class="separate-sections" ng-submit="registerAccount()">

                <div class="input-group addon-left">
                    <input placeholder="First Name" name="firstName" ng-model="user.firstName" type="text"/>
                </div>

                <div class="input-group addon-left">
                    <input placeholder="Last Name" name="lastName" ng-model="user.lastName" type="text"/>
                </div>

                <div class="input-group addon-left">
                    <input placeholder="Email" name="email" ng-model="user.email" type="text"/>
                </div>

                <div class="input-group addon-left">
                    <input placeholder="Username" name="username" ng-model="user.username" type="text"/>
                </div>

                <div class="input-group addon-left">
                      <input placeholder="Password" name="password" ng-model="user.password" type="password"/>
                </div>
                <div>
                    <button class="btn btn-blue btn-block">
                        Register <i class="icon-ok"></i>
                    </button>
                </div>
            </form>
            <div>
                <a href="#/login">
                    <strong>Login</strong>
                </a>
            </div>
        </div>
    </div>
</div>
