<div class="container">
     <div class="row">
         <div class="area-top clearfix">
             <div class="pull-left header">
                 <h3 class="title">
                     <i class="icon-user"></i>
                     User profile
                 </h3>
             </div>
         </div>
     </div>
</div>

<div class="container">
    <div class="box-content padded">
        <div class="row row-item">
            <div class="col-md-1">Full name:</div>
            <div class="col-md-4"><strong>{{ user.firstName }} {{ user.lastName }}</strong></div>
        </div>
        <div class="row row-item">
            <div class="col-md-1">email:</div>
            <div class="col-md-4">{{ user.email }}</div>
        </div>
        <div class="row row-item">
            <div class="col-md-1">username:</div>
            <div class="col-md-4">{{ user.username }}</div>
        </div>
    </div>
</div>
