<div class="row col-lg-offset-3 col-sm-4 top-offset">

    <form role="form" name="formLogin" ng-class="{validateForm: formValidation}" ng-submit="login()" novalidate>
        <h3>Please sign in</h3>
        <input type="text" class="form-control bottom-offset" placeholder="Username" id="username" required autofocus>
        <input type="password" class="form-control bottom-offset" placeholder="Password" id="password" required>

        <button ng-if="!requestSend" type="submit" class="btn btn-primary" style="width:8em;">Login</button>
        <button ng-if=" requestSend" type="button" class="btn btn-primary" style="width:8em;"><i class="fa fa-spinner fa-spin"></i></button>
    </form>
    <div class="error text-center">{{ errorMsg }}</div>


</div>