

<div class="box-header">
    <span class="title">Forms</span>
    <ul class="box-toolbar">
        <li>
            <i class="icon-refresh"></i>
        </li>
        <li>
            <div style="width: 70px;" class="ibutton-container"><input class="iButton-icons" checked="checked" type="checkbox"><div style="width: 30px; left: 35px;" class="ibutton-handle"><div class="ibutton-handle-right"><div class="ibutton-handle-middle"></div></div></div><div style="width: 65px;" class="ibutton-label-off"><span style="margin-right: -35px;"><label><i class="icon-remove"></i></label></span></div><div style="width: 39px;" class="ibutton-label-on"><span style="margin-left: 0px;"><label><i class="icon-ok"></i></label></span></div><div class="ibutton-padding-left"></div><div class="ibutton-padding-right"></div></div>
        </li>
        <li class="toolbar-link">
            <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-plus-sign"></i> Add</a></li>
                <li><a href="#"><i class="icon-remove-sign"></i> Remove</a></li>
                <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="box-content">
    <form class="fill-up">
        <div class="row">
            <div class="col-lg-6">

                <ul class="padded separate-sections">

                    <li class="input">
                        <input placeholder="First Name" type="text">
                    </li>

                    <li class="input">
                        <input placeholder="Last Name" type="text">
                    </li>

                    <li class="input">
                        <input placeholder="Username" type="text">
                    </li>

                    <li class="input">
                        <input placeholder="Email" type="password">
                    </li>

                    <li class="input">
                        <input placeholder="Password" type="password">
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-blue">Register</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </form>
</div>
