<div class="col-md-4 col-md-offset-3">
    <div class="padded">
        <div class="login box" style="margin-top: 80px;">
            <div class="box-header">
                <span class="title">Login</span>
            </div>
            <div class="box-content padded">
                <form class="separate-sections" name="loginForm" ng-submit="login()">
                    <div class="input-group addon-left">
                        <span class="input-group-addon">
                            <i class="icon-user"></i>
                        </span>
                        <input id="username" placeholder="username" type="text">
                    </div>
                    <div class="input-group addon-left">
                        <span class="input-group-addon">
                            <i class="icon-key"></i>
                        </span>
                        <input id="password" placeholder="password" type="password">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-blue btn-block">
                            Login <i class="icon-signin"></i>
                        </button>
                    </div>
                </form>
                <div>
                    <a href="#/register">
                        <strong>Sign Up</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
