<div class="col-md-12 padded">
    <div class="box">
        <div class="box-header">
            <span class="title"><i class="fa fa-user"></i> User profile</span>
        </div>
        <div class="box-content padded">

            <div class="row row-item">
                <div class="col-md-1">Full name:</div>
                <div class="col-md-4"><strong>{{ user.firstName }} {{ user.lastName }}</strong></div>
            </div>
            <div class="row row-item">
                <div class="col-md-1">email:</div>
                <div class="col-md-4">{{ user.email }}</div>
            </div>
            <div class="row row-item">
                <div class="col-md-1">username:</div>
                <div class="col-md-4">{{ user.username }}</div>
            </div>

        </div>
    </div>
</div>
