<div class="box-content">
    <form class="fill-up" name="registerForm" ng-submit="registerAccount()" novalidate>
        <div class="row">
            <div class="col-lg-6">

                <ul class="padded separate-sections">

                    <li class="input">
                        <input placeholder="First Name" type="text">
                    </li>

                    <li class="input">
                        <input placeholder="Last Name" type="text">
                    </li>

                    <li class="input">
                        <input placeholder="Username" type="text">
                    </li>

                    <li class="input">
                        <input placeholder="Email" type="password">
                    </li>

                    <li class="input">
                        <input placeholder="Password" type="password">
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-blue" ng-disabled="registerForm.$invalid">Register</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </form>
</div>
