<div class="container">
    <div class="row">
        <div class="area-top clearfix">
            <div class="pull-left header">
                <h3 class="title">
                    <i class="icon-sitemap"></i>
                    Organization Structure - Create new
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-content">
                    <form class="form-horizontal fill-up" ng-submit="submitForm()">
                        <div class="padded">
                            <div class="form-group">
                                <label class="control-label col-lg-2">Name:</label>
                                <div class="col-lg-10">
                                    <input name="name" type="text" class="validate[required]" ng-model="entity.name" data-prompt-position="topLeft" id="form-validation-field-0">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Type:</label>
                                <div class="col-lg-10">
                                    <select name="entityType" class="form-control input-sm" ng-model="entity.entityType" ng-options="item.name for item in entity.entityTypes"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Parent:</label>
                                <div class="col-lg-10">

                                    <div ui-select ng-model="entity.parent" theme="select2" ng-disabled="entity.parentsDisabled">
                                        <div ui-select-match placeholder="Select a parent in the list or search his name/age...">
                                            {{$select.selected.name}}
                                        </div>
                                        <div ui-select-choices repeat="parent as parent in entity.parents | filter: $select.search">
                                            <div ng-bind-html="parent.name | highlight: $select.search"></div>
                                            <small>
                                                name: {{parent.name}}
                                            </small>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Short Description:</label>
                                <div class="col-lg-10">
                                    <textarea ng-model="entity.shortDescription" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Description:</label>
                                <div class="col-lg-10">
                                    <div ng-model="entity.description" text-angular ng-model="detailDescription"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-blue">Create</button>
                            <button ng-click='back()' type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>